html {
  color: white;
  background: #08A;
  user-select: none;
  padding-bottom: 100px;
  font-family: sans-serif;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
  background-image: linear-gradient(#08A, #0CE);
  overflow: hidden;
}

img.logo {
  display: block;
  text-align: center;
  margin: 80px auto 0 auto;
}

img.item {
  width: 50px;
  height: auto;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  margin: 0 40px 40px 0;
}

button:disabled {
  cursor: default;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  margin: 20px 0 40px 0;
}

p {
  padding-left: 10px;
  color: rgba(255, 255, 255, .5);
}

span {
  color: #FFF;
  font-size: 16px;
  vertical-align: top;
  margin: 15px 0 0 15px;
  display: inline-block;
}

.container {
  padding: 20px;
  overflow: hidden;
}

.left,
.right {
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}
